<div class="container">
  <div class="row grid-container">
    <div class="col-md-12">
      <div class="table">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th cmSortBy="title" (sorted)="sort($event)">Title</th>
              <th cmSortBy="duration" (sorted)="sort($event)">Duration</th>
              <th cmSortBy="description" (sorted)="sort($event)">Description</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of courses;trackBy:trackbyService.course">
              <td>
                <fa-icon [icon]="['fas', 'book']"></fa-icon>
              </td>
              <td>{{ course.title | capitalize }}</td>
              <td>{{ course.duration }} {{ course['duration-unit'] }}</td>
              <td>{{ course.description }}</td>
              <td><a [routerLink]="['/courses',course.id,'course-details']">View Details</a></td>
            </tr>
            <tr *ngIf="!courses.length">
              <td>&nbsp;</td>
              <td colspan="7">No Records Found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
